# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Template - WalkingSim.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Fall2021\2dAnim\final\unityProject\Template - WalkingSim\.idea\.idea.Template - WalkingSim\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
